<%- include('header') -%>
<nav class="nav">
  <h1><%= title %></h1>
  <div>
    <a href="/home/inventory">Back</a>
    <a href="/home/inventory/update/colors">Update Colors</a>
  </div>
</nav>

<form
  action=""
  method="POST"
  onSubmit="document.getElementById('submitAdd').disabled=true;"
  class="updateColorForm border1color"
>
  <h2>Item name:</h2>
  <input
    style="width: 140px; height: 26px"
    type="text"
    name="name"
    minlength="1"
    maxlength="10"
    required
  />
  <h2>Select a shape</h2>
  <select name="shapeId" id="shape">
    <% shape_list.map(shape => { %>
    <option value="<%= shape._id %>"><%= shape.shapeType %></option>
    <% }) %>
  </select>
  <h2>Select a color</h2>
  <select name="colorId" id="color">
    <% color_list.map(color => { %>
    <option
      value="<%= color._id %>"
      style="
        background-color: rgb(
          <%= color.red %>,
          <%= color.green %>,
          <%= color.blue %>
        );
      "
    >
      <%= color.name %>
    </option>
    <% }) %>
  </select>
  <h2>Amount in stock:</h2>
  <input
    style="width: 140px; height: 26px"
    type="number"
    name="stockCount"
    value="0"
    min="0"
    max="10"
  />

  <button class="btnStyleYes" id="submitAdd" type="submit">Submit</button>
</form>

<%- include('footer') -%>
