<%- include('header') -%>
<nav class="nav">
  <div>
    <a href="/home/inventory" style="padding: 0">Return to inventory</a>
  </div>
</nav>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<h2><%= error.message %></h2>
<%- include('footer') -%>
