<%- include('header') -%>
<nav class="nav">
  <a href="/">Home</a>
  <a href="/home/inventory/create/item">Create Item</a>
  <a href="/home/inventory/create/color">Create Color</a>
</nav>
<h1><%= title %></h1>
<div class="container">
  <% item_list.forEach(item => { %>
  <div class="item">
    <a href="/home/inventory/item/<%= item._id %>"
      ><span class="cover"></span
    ></a>
    <h2>Item Name: <%= item.title %></h2>
    <p>
      <%= item.shape.shapeType %> shape with a color of <%= item.color.name %>
    </p>
    <div
      style="
        width: <%= item.shape.width %>px;
        height: <%= item.shape.height %>px;
        fill: rgb(
          <%= item.color.red %>,
          <%= item.color.green %>,
          <%= item.color.blue %>
        );
      "
    >
      <%- include(`../public/images/${item.shape.shapeType}.svg`) -%>
    </div>
  </div>

  <% }) %>
</div>
<%- include('footer') -%>
